*{
  box-sizing: border-box;
}
body{
  background: rgb(1, 1, 53);
}

.fa-2x{
  transition: .3s ease-in-out;
  color: #ddd;
  &:hover{
    transform: scale(1.1) rotate(-7deg);
    color: #555;
  }
  
}

.header{
  min-height: 100vh;
  .navbar-brand{
    font-size: 35px;
    -webkit-text-stroke: 1px rgb(255, 230, 0);
    color:rgb(1, 1, 53)
  }
  .navbar .nav-link{
    color: #fff;
    transition: .5s ease-in-out;
    font-weight: 700;
  }
  .navbar .nav-link.active, .navbar .nav-link:hover{
    color:rgb(255, 230, 0);
  }
  .line{
    overflow: hidden;
    animation: line 5s infinite
  }
 
}

@keyframes line {
  0%{
    width:0%
  }
   50%{
    width:60%
  }
  100%{
    width:0%
  }
}
.services{
  .service-item:hover{
    transform: scale(.95);
    transition: .2s ;
    
  }
}
.portfolio{
  .portfolio-item{
    overflow: hidden;
    &:hover{
      img{
        transform:scale(.95);
        transition: .4s;
      }
      .overlay{
        opacity: 1;
        background-color: rgba(48, 48, 47, 0.85);
        .btn{
          opacity: 1;
            transform: translateX(0px);
        }
      }
    }
    .overlay{
      top: 0;
      left: 0;
      opacity: 0;
      .btn{
        transform: translateX(-200px);
        transition: .4s;
      }
      
    }
  }
}
.contact{
  ::placeholder{
    color: #bbb;
  }
  .icon{
    width:15%;
  }
}
@media(max-width :768px){
  .header{
    h1{font-size: 20px;}
  }
}